/* TENT
#009ddb
#e71d07
##383e42
#48fcfaf5f
#c8eff9
#42b132
#fcd200
*/

body {
  background-color: #fcfaf5;
}

div {
  user-select: none;
}

h1 {
  color: white;
  font-size: 65;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #fcfaf5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h3 {
  color: #fcfaf5;
  font-family: Arial, Helvetica, sans-serif;
}
