/* TENT
#009ddb
#e71d07
##383e42
#48fcfaf5f
#c8eff9
#42b132
#fcd200
*/

body {
  background-color: #fcfaf5;
}

div {
  user-select: none;
}

h1 {
  color: white;
  font-size: 65;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #fcfaf5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h3 {
  color: #fcfaf5;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 1250px;
  background-color: #383e42;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  display: flex;
  justify-content: center;
}

.side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-map {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  background-color: #383e42;
  height: 650;
  width: 650;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
  grid-template-columns: repeat(10, 1fr);
  height: 625;
  width: 625;
  display: grid;
  background-color: #cfcfcf;
  padding: 10px;
  grid-gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-item {
  background-color: #fcfaf5;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-div {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  background-color: #383e42;
  height: 650;
  width: 250;
  border-radius: 15px;
  margin-right: 20px;
  grid-gap: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bolt-div {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #383e42;
  height: 650;
  width: 250;
  border-radius: 15px;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40;
  width: 225;
  border-radius: 10px;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bolt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40;
  width: 225;
  border-radius: 10px;
  user-select: none;
}
